input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #dadada;
    border-radius: 30px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    transition: all .2s ease;
}

/* 按钮 */
input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    transition: all .2s ease;
}

/* 选中状态时，背景色切换 */
input[type="checkbox"]:checked {
    background-color: #409EFF;
}

/* 选中状态时，按钮的位置移动 */
input[type="checkbox"]:checked::after {
    left: 50%;
}

